@import "../../assets/styles/variables.scss";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";


* {
    box-sizing: border-box;
  }
  
  form {
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 10rem;
    margin-bottom: 10rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: lightgrey;
    padding: 12px;
    border: 0;
    font-size: large;
    text-transform: uppercase;
  }
  form button:hover {
    background: gold;
  }
  
  label {
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 1.0em;
    margin-bottom: 0.5rem;
  }

  .desc {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  input:focus {
    outline: 3px solid gold;
  }
  
  @include media-breakpoint-down(md) {
    form {
      overflow: hidden;
      width: 90%;
    }
  }
